.notification {
	max-width: 400px;
	border-radius: 15px;
	padding: 15px;
	background-color: fade(#000, 90%);
	font: 1rem 'Open Sans', sans-serif;
	color: #fff;

	&:not(:first-child) {
		margin-top: 15px;
	}

	&.success {
		background-color: fade(green, 90%);
		color: #fff;
	}

	&.error {
		background-color: fade(red, 90%);
		color: #fff;
	}
}
