@import '~global-styles/vars';

.form-field {
	/*margin: 1em 0;

	[class^="MuiPrivateTextarea-root"] { overflow: hidden; }

	input, textarea, button {
		color: #000;
		background: fade(#fff, 80%);
		transition: 250ms;
	}

	input:focus, textarea:focus {
		box-shadow: 0px 0px 7px @primaryColor;
	}

	textarea {
		resize: vertical;
	}
	
	input.error, textarea.warning {
		border: 2px solid red;
	}

	input.warning, textarea.warning {
		border: 2px solid yellow;
	}

	label {
		z-index: 1;
		padding-left: 15px;
	}*/

	.hint {
		font-size: 0.8em;
	}

	.form-messages.error,
	.form-messages.warning {
		margin: 0.5em 0;
		font-size: 1rem;
	}

	.form-messages.error {
		color: red;
	}

	.form-messages.warning {
		color: yellow;
	}
}
