@import '~global-styles/util.less';

.wrapper {
	.fixed-fill();
	.center-in-unknown();
	z-index: 99;
	background: fade(#fff, 70%);
	text-align: center;

	> * {
		position: relative;
		z-index: 2;
	}
}

.enter {
	transform: scale(0);
	opacity: 0;
	transition: 350ms;

	&-active {
		transform: scale(1);
		opacity: 1;
	}
}

.exit {
	transform: scale(1);
	opacity: 1;
	transition: 350ms;

	&-active {
		transform: scale(0);
		opacity: 0;
	}
}
