@import (inline) '../../node_modules/normalize.css/normalize.css';

body {
	margin: 0;
	background: #fafafa;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	padding: 0 3rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.page {
	flex: 1 0 auto;
}

#page-loader {
	position: relative;
	flex: 1 0 auto;
}

/* cool footer styles

first footer:

		background: #302f31;
		color: #bbb8bf;
		padding: 75px 0;

bottom:

		background-color: #222;
		text-align: center;
		padding: 1em 0 2em 0;
*/
