.absolute-fill() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.fixed-fill() {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.center-in-unknown() {
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
}
