#notifications {
	position: fixed;
	z-index: 99;
	right: 15px;
	bottom: 15px;
}

.enter {
	opacity: 0;
	transform: translateY(100%);
	transition: 350ms;

	&-active {
		opacity: 1;
		transform: translateY(0%);
	}
}

.exit {
	opacity: 1;
	transform: translateY(0%);
	transition: 350ms;

	&-active {
		opacity: 0;
		transform: translateY(-100%);
	}
}
