#dialog {
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	padding: 15px;
	background: #fff;
	font-size: 1rem;
	box-shadow: 0 0 7px #000;
}

#title {
	margin-bottom: 10px;
	font-size: 1.5em;
	font-weight: bold;
}

#buttons {
	margin-top: 15px;
}

.button {
	-webkit-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	border: 1px solid #000;
	padding: 10px 15px;
	background: #fff;
	cursor: pointer;
	transition: 250ms;

	&:not(:last-child) {
		margin-right: 15px;
	}

	&:hover,
	&:focus {
		box-shadow: 1px 1px 5px #333;
		background: #222;
		color: #fff;
	}
}

#dismiss {
	position: absolute;
	top: -0.625em;
	right: -0.625em;
	height: 1.25em;
	width: 1.25em;
	border-radius: 50%;
	border: solid 1px #333;
	padding-top: 0.0125em;
	font: 1.5rem 'Raleway';
	background-color: #fff;
	color: #000;
	cursor: pointer;
	transition: 250ms;

	&:hover {
		box-shadow: 2px 2px 7px #000;
		border-color: #eee;
	}
}
