@import '~global-styles/vars.less';

#form-wrapper form>* {
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

#forgot-password {
	margin-top: 1.5em;
	padding: 0.5em 1em;
	text-align: center;
	cursor: pointer;
}