doctype html
html(lang="en", dir="ltr")
	head
		!= head
		meta("http-equiv"="Content-Type", "content"="text/html; charset=utf-8")
		meta("name"="viewport", "content"="width=device-width, initial-scale=1.0")

		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
		link(rel="manifest", href="/site.webmanifest")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
		meta(name="theme-color", content="#ffffff")
		meta(name="msapplication-TileColor", content="#603cba")

		link(href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:400,400i,700,700i|Oswald|Oxygen|Raleway|Roboto:300,400,500|Roboto+Condensed:300,400,700|Shadows+Into+Light", rel="stylesheet")

		if (__FB_APP_ID__)
			script(type='text/javascript').
				(function(d, s, id){
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) {return;}
					js = d.createElement(s); js.id = id;
					js.src = "https://connect.facebook.net/en_US/sdk.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'))

		if (__GOOGLE_CLIENT_ID__)
			script(type='text/javascript', src='https://apis.google.com/js/platform.js', async, defer)

		//- Headers:
			Raleway

			Body:
				Open Sans

		//- link(rel="search", type="application/opensearchdescription+xml", title="Site Name", href="/search.xml")

		//-
			script(type="application/ld+json").
				{
					"@context": "http://schema.org",
					"@type": "WebSite",
					"url": "http://www.example.com/",
					"potentialAction": {
						"@type": "SearchAction",
						"target": "http://www.example.com/search/{search_term_string}",
						"query-input": "required name=search_term_string"
					}
				}

		script#redux-state(type="text/javascript", charset="utf-8") !{reduxState}
		script#apollo-state(type="text/javascript", charset="utf-8") !{apolloState}
	
	body
		div#app !{app}
		!= scripts
		div#fb-root