#users {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user {
	flex: 1 0;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #000;
	padding: 1.5em;

	img {
		margin-right: 15px;
	}

	.odd {
		background-color: #ccc;
	}
}
