@import '~global-styles/util.less';

#wrapper {
	.fixed-fill();
	.center-in-unknown();
	z-index: 999;
	background-color: fade(#000, 80%);
	text-align: center;

	img {
		display: inline-block;
		vertical-align: middle;
		max-width: 99%;
		margin: 0 auto;
	}

	&.absolute {
		position: absolute;
	}
}
