.container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	height: 100vh;
	position: relative;
}

@blurEffect: 10px;

#page-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
	height: 100%;

	&.blur {
		filter: blur(@blurEffect);
		transition: 250ms;
	}
}

#body-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1 0 auto;
	width: 100%;
	overflow: hidden;
	position: relative;

	> span {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		flex: 1 0 auto;
	}
}

.no-scroll {
	overflow: hidden;
	height: 100vh;
}
