@import '~global-styles/util.less';

@transitionTime: 500ms;
@appearTransitionTime: 1s;

/* SLIDE */

.slide-appear {
	.absolute-fill();
	opacity: 0;
	transform: translateY(100%);
	transition: @appearTransitionTime;
}

.slide-enter,
.slide-exit {
	.absolute-fill();
	transition: @transitionTime;
}

.slide-appear-active {
	opacity: 1;
	transform: translateY(0%);
}

.slide-enter {
	opacity: 0;
	transform: translateX(100%);
}

.slide-enter-active {
	opacity: 1;
	transform: translateX(0%);
}

.slide-exit {
	opacity: 1;
	transform: translateX(0%);
}

.slide-exit-active {
	opacity: 0;
	transform: translateX(-100%);
}

/* FADE */

.fade-appear,
.fade-enter,
.fade-exit {
	.absolute-fill();
}

.fade-appear,
.fade-enter {
	opacity: 0;
}

.fade-appear {
	transition: @appearTransitionTime;
}

.fade-enter,
.fade-exit {
	transition: @transitionTime;
}

.fade-appear-active,
.fade-enter-active {
	opacity: 1;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
}

/* SCALE */

.scale-appear {
	opacity: 0;
	.absolute-fill();
	transform: translateY(100%) scale(0);
	transition: @appearTransitionTime;
}

.scale-appear-active {
	opacity: 1;
	transform: translateY(0%) scale(1);
}

.scale-enter {
	opacity: 0;
	transform: translateX(100%) scale(0);
}

.scale-enter,
.scale-exit {
	.absolute-fill();
	transition: @transitionTime;
}

.scale-enter-active {
	opacity: 1;
	transform: translateX(0%) scale(1);
}

.scale-exit {
	opacity: 1;
	transform: translateX(0%) scale(1);
	transition: @transitionTime;
}

.scale-exit-active {
	opacity: 0;
	transform: translateX(-100%) scale(0);
}
